.events-registration-status-con {
  display: flex;
}
.events-bg-con {
  background-color: #323f4b;
  /* height: 100vh; */
  width: 60%;
  padding: 1.5rem;
  flex-shrink: 0;
}
.event-heading {
  color: #f8fafc;
  margin: 0 0 1.5rem 0;
}
.event-list-con {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.initial-con {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  padding: 2rem;
  text-align: center;
}
.registration-status-con {
  height: 100vh;
  width: 40%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.initial {
  color: #64748b;
  font-size: 1.35rem;
}
.yet-to-rendering-con {
  display: flex;
  /* margin: auto; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.yet-image {
  width: 100%;
  max-width: 320px;
}
.yet-para {
  color: #64748b;
  font-size: 0.9rem;
}
.yet-btn {
  cursor: pointer;
  background-color: #0967d2;
  border: none;
  outline: none;
  color: #ffffff;
  width: 90%;
  max-width: 20rem;
  border-radius: 0.3rem;
  height: 2.2rem;
  font-weight: 500;
}
.registered-para {
  font-size: 1.2rem;
  font-weight: 700;
  color: #475569;
}
.registered-image {
  width: 40%;
  max-width: 15rem;
}
.registrations-closed-heading {
  font-size: 1.3rem;
  font-weight: 700;
  color: #323f4b;
}
.registrations-closed-para {
  font-size: 0.8rem;
  color: #64748b;
}
.registrations-closed-image {
  width: 60%;
  max-width: 16rem;
}

.diva {
  margin: auto;
}
